@media print {
  body * {
    visibility: hidden;
  }

  #invoice-content, #invoice-content * {
    visibility: visible;
  }

  #invoice-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
