.admin-settings{
    background: white;
    border: 2px solid #e5e7eb;
    border-radius: 20px;
    margin: 0 5px 25px 5px;
    padding: 20px;
    flex: 1;
    min-width: 0;

    &__header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Poppins';
        color: #111827;
        margin: 0;
    }

    &__sub-title{
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins';
        color: #111827;
        margin: 0;
    }

    &__input-row {
        display: flex;
        gap: 20px;
        margin-bottom: 25px;
    }

    &__input-row div {
        flex: 1;
    }

    label {
        color: #222;
        font-size: 16px;
    }

    input, select, textarea{
        font-size: 15px;
        color: #444;
        border-color: #ccc;
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
        box-shadow: 0 0 0 1px #bfdbfe; // focus:ring-2 focus:ring-blue-500
        border-color: transparent; // focus:border-transparent
    }
}

.input-required {
    color: #dc3545;
    margin-left: 4px;
}


.file-upload-container {
    border: 2px dashed #ced4da;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-upload-container:hover {
    border-color: #bfdbfe;
    background-color: #f8f9fa;
    
}

.file-upload-icon {
    font-size: 2rem;
    color: #6c757d;
    margin-bottom: 10px;
}

.file-upload-text {
    color: #495057;
    margin-bottom: 5px;
}

.file-upload-helper {
    color: #6c757d;
    font-size: 0.85rem;
}